
{% extends 'base.html' %}

{% block content %}


<div class="container mt-3 col-md-6 offset-md-3">

    <form >
  
      <div class="mb-3">
          <label class="form-label" >Matricule</label>
          <input type="text"  class="form-control">
      </div>
  
      <div class="mb-3">
          <label class="form-label" >Objet</label>
          <input type="text" class="form-control">
      </div>
  
      <div class="mb-3">
          <label class="form-label" >Description</label>
          <textarea class="form-control" rows="4" id="comment"></textarea>
      </div>
  
      <div class="mb-3">
          <label class="form-label" >Type </label>
          <select class="form-select">
            <option>RESEAU</option>
            <option>MAINTENACE</option>
            <option>SIGASPE</option>
            <option>ALIAS</option>
            <option>DIAN</option>
            <option>SADINA</option>
            <option>PRISCA</option>
            <option>SITA</option>
          </select>
      </div>

      <div class="mb-3">
        <label class="form-label" >Ministère</label>
        <select class="form-select">
          <option>Ministère de la Fonction Publique du Travail et de la Protection Sociale</option>
          <option>Ministère des Affaires Etrangères du Burkina Faso</option>
          <option>Ministère de la Santé et de Hygiène Publique </option>
          <option>Ministère de la justice et des Droits Humains</option>
          <option>Ministère des Transports de la Mobilité Urbaine et de la Sécurité Routière</option>
          <option>Ministère de Economie des Finances et de la Prospective</option>
          <option>Ministère de Administration Territoriale et de la Décentralisation</option>
          <option>Ministère de Eau et de Assainissement</option>
          <option>Ministère de la Communication de la Culture des Arts et du Tourisme</option>
          <option>Ministère de Education Nationale de Alphabétisation et de la Promotion des Langues Nationales</option>
          <option>Ministère de Enseignement Supérieur de la Recherche et de Innovation</option>
          <option>Ministère des Sports et de Autonomisation des Jeunes</option>
          <option>Ministère des Mines et des Carrières</option>
          <option>Ministère de Energie des Mines et des Carrières</option>
          <option>Ministère du Developpement Industriel du Commerce et de Artisanat</option>
          <option>Ministère de Urbanisme des Affaires Foncières et de Habitat</option>

        </select>
    </div>

   
      <button  class="btn btn-info" type="submit"> Enregistrer</button>
  
    </form>
  
  
  </div>
  


  {% endblock %}