{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
     <script src= "{% static 'script.js' %}" type="text/javascript"> </script>
    <title>FAQ</title>
</head>
<body>
  <section>
    <h2 class="title">FAQs</h2>

    <div class="faq">
    <div class="question">
        <h3>wath is your name</h3>
        <svg width="15" height="10" viewBox="00 42 25">
        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
        </svg>
    </div>
    <div class="answer">
        <p>
            java rtjfbdbbhf nfjfvcbb fhdvdbv fjdbfndbcb vbfjbnfndbfn
        </p>
    </div>
    </div>


    <div class="faq">
        <div class="question">
            <h3>wath is your name</h3>
            <svg width="15" height="10" viewBox="00 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="answer">
            <p>
                java rtjfbdbbhf nfjfvcbb fhdvdbv fjdbfndbcb vbfjbnfndbfn
            </p>
        </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>wath is your name</h3>
                <svg width="15" height="10" viewBox="00 42 25">
                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    java rtjfbdbbhf nfjfvcbb fhdvdbv fjdbfndbcb vbfjbnfndbfn
                </p>
            </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3>wath is your name</h3>
                    <svg width="15" height="10" viewBox="00 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>
                        java rtjfbdbbhf nfjfvcbb fhdvdbv fjdbfndbcb vbfjbnfndbfn
                    </p>
                </div>
                </div>

                <div class="faq">
                    <div class="question">
                        <h3>wath is your name</h3>
                        <svg width="15" height="10" viewBox="00 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="answer">
                        <p>
                            java rtjfbdbbhf nfjfvcbb fhdvdbv fjdbfndbcb vbfjbnfndbfn
                        </p>
                    </div>
                    </div>
  </section>  

    
    
    
</body>
</html>