

{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
     <script src= "{% static 'js/script.js' %}" type="text/javascript"> </script>
    <title>FAQs</title>
</head>
<body>
    
    
  <section>
    <h2 class="title">FAQs</h2>

    <div class="faq">
    <div class="question">
        <h3>C’est quoi un congé annuel ou administratif </h3>
        <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
        </svg>
    </div>
    
    <div class="answer">
        <p>
            c’est une période de 30 jours consécutifs de repos avec traitement, accordée au fonctionnaire après 11 mois de services accomplis. L’article 55 de la loi 081-2015/CNT du 24 novembre 2015 précise que ce congé est obligatoire pour le fonctionnaire. 
        </p>
    </div>
    </div>


    <div class="faq">
        <div class="question">
            <h3> Congé de maternité </h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="answer">
            <p>
                c’est une période de 14 semaines de repos accordée au personnel féminin de la fonction publique pour raison de maternité au vu d’un certificat médical délivré par un médecin agréé, une sage-femme ou un maïeuticien d’Etat qui commence au plus tôt 08 semaines et au plus tard 04 semaines avant la date présumée d’accouchement.  
            </p>
        </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>Congé de fin de service </h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    c’est une période de trois (03) mois consécutifs de repos avec traitement brut soumis à pension sans toute autre indemnité, accordée au fonctionnaire durant les trois (03) derniers mois avant sa date de départ à la retraite.
                </p>
            </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3> Autorisation d’absence </h3>
                    <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>
                        : c’est une période d’arrêt de travail accordé à un agent avec maintien du traitement. Il peut s’agir d’une absence pour événements familiaux, pour activités syndicales, pour activité d'intérêt national, pour élections (municipales, législatives, présidentielles, …)
                    </p>
                </div>
                </div>

                <div class="faq">
                    <div class="question">
                        <h3>Congé pour concours ou examen professionnel </h3>
                        <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="answer">
                        <p>
                            c’est un congé avec traitement accordé au fonctionnaire pour lui permettre de subir les épreuves de concours ou examens professionnels.
                        </p>
                    </div>
                    </div>
  </section>  

    
    
 
</body>
</html>