{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}" rel="stylesheet" type="text/css">

    <title>FAQs</title>
</head>
<body>
    <section>
        <h1 class="title"> FAQS </h1>
        <div class="questions-container">
            <div class="question">
                <button>
                    <span>C’est quoi un congé annuel ou administratif </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <p> c’est une période de 30 jours consécutifs de repos avec traitement, accordée au fonctionnaire après 11 mois de services accomplis. L’article 55 de la loi 081-2015/CNT du 24 novembre 2015 précise que ce congé est obligatoire pour le fonctionnaire. </p>
            </div>

            <div class="question">
                <button>
                    <span>Congé de maternité  </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <p> c’est une période de 14 semaines de repos accordée au personnel féminin de la fonction publique pour raison de maternité au vu d’un certificat médical délivré par un médecin agréé, une sage-femme ou un maïeuticien d’Etat qui commence au plus tôt 08 semaines et au plus tard 04 semaines avant la date présumée d’accouchement.   </p>
            </div>

            <div class="question">
                <button>
                    <span>Congé de fin de service  </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <p>  c’est une période de trois (03) mois consécutifs de repos avec traitement brut soumis à pension sans toute autre indemnité, accordée au fonctionnaire durant les trois (03) derniers mois avant sa date de départ à la retraite. </p>
            </div>


            <div class="question">
                <button>
                    <span>Autorisation d’absence </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <p> c’est une période d’arrêt de travail accordé à un agent avec maintien du traitement. Il peut s’agir d’une absence pour événements familiaux, pour activités syndicales, pour activité d'intérêt national, pour élections (municipales, législatives, présidentielles, …) </p>
            </div>



            <div class="question">
                <button>
                    <span>Congé pour concours ou examen professionnel </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <p> c’est un congé avec traitement accordé au fonctionnaire pour lui permettre de subir les épreuves de concours ou examens professionnels. </p>
            </div>





        </div>
    </section>
    
    
  
    
    
    <script src= "{% static 'script.js' %}"> </script>

</body>
</html>