{% extends 'base.html' %}


{% block content %}


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Matricule</th>
        <th scope="col">Objet</th>
        <th scope="col">Description</th>
        <th scope="col">type</th>
        <th scope="col">Ministère</th>
        <th scope="col">Date Création</th>
        <th scope="col">Heure demande</th>
        <th scope="col">Statut</th>
      </tr>
    </thead>
    <tbody>
      {% for tic in Demande %}
      <tr>
        <th scope="col"></th>
        <td>{{tic.matricule}}</td>
        <td>{{tic.objet}}</td>
        <td>{{tic.description}}</td>
        <td>{{tic.Type}}</td>
        <td>{{tic.ministere}}</td>
        <td>{{tic.dateCreation}} </td>
        <td>{{tic.heureDemande}}</td>
        <td>{{tic.statut}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% include 'footer.html' %}

{% endblock %}