{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'Agent/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Agent</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Accueil</a></li>
            <li><a href="{% url 'demande' %}">Créer Demande Service</a></li>
            <li><a href="{% url 'create-agent' %}">Créer un Agent</a></li>
            <li><a href="{% url 'Agent' %}">Liste des Agents</a></li>
            <li><a href="{% url 'ticket' %}">Consulter Demande Service</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
        </ul>   
          
    </nav>

    {% block content %}

    {% endblock %}

    
    
</body>
</html>