
{% extends 'base.html' %}


    

{% block content %}

<div class="container mt-3 col-md-6 offset-md-3">

    <form>
  
      <div class="mb-3">
          <label class="form-label" >Nom</label>
          <input type="text"  class="form-control">
      </div>
  
      <div class="mb-3">
          <label class="form-label" >Prenom</label>
          <input type="text" class="form-control">
      </div>
  
      <div class="mb-3">
          <label class="form-label" >Email</label>
          <input type="email"  class="form-control">
      </div>
  
      <div class="mb-3">
          <label class="form-label" >Telephone</label>
          <input type="tel"  class="form-control">
      </div>

      <div class="mb-3">
        <label class="form-label" >Matricule</label>
        <input type="tel"  class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label" >Password</label>
        <input type="tel"  class="form-control">
    </div>
  
      <button  class="btn btn-info" type="submit"> Enregistrer</button>
  
    </form>
  
  
  </div>

  

{% endblock %}
