
{% extends 'base.html' %}

{% block content %}

<p>{{ message }}</p>

<form method = "POST" action="login_user" autocomplete="off">
    {% csrf_token %}

    <div class="container mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">Authentification</div>
                <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
                <div class="card-body">
                <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
                    <div class="mb-3">
                      <label class="form-label">Matricule</label>
                      <input type="text" formControlName="matricule" class="form-control">
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" formControlName="password" class="form-control">
                      </div>
    
                      <button class="btn btn-primary" type="submit">Connexion</button>
    
                </form>
    
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock content %}